{% if ctaCols %}
{% assign cols = ctaCols %}
{% else %}
{% assign cols = 1 %}
{% endif %}

{% if content %}
    {% assign ctaTitle = content.title %}
    {% assign ctaText = content.text %}
    {% assign ctaLink = content.ctaButtons[0] %}
    {% if content.ctaButtons[1] %}
        {% assign ctaLinkSecondary = ctaButton[1] %}
    {% endif %}
{% endif %}



<section class="cta">
    <div class="wrapper {% if cols == 2 %}columns{% endif %}" data-cols="{{ cols }}">
        {% if content.blockLayout or cols == 2 %}
            {% if content.media.mediaType == 'image' %}
                {% capture imgUrl %}
                    {% sanityImageUrl content.media.image %}
                {% endcapture %}
                {% if content.blockLayout == 'left' %}
                    {% include 'components/cta-section/content.liquid' %}
                    {% image imgUrl, '' %}
                {% else %}
                    {% image imgUrl, '' %}
                    {% include 'components/cta-section/content.liquid' %}
                {% endif %}
            {% elsif content.media.mediaType == 'videoId' %}
                {% assign service = content.media.video.service %}
                {% assign id = content.media.video.id %}
                {% if service == 'youtube' %}
                    {% if content.blockLayout == 'left' %}
                    {% include 'components/cta-section/content.liquid' %}
                    <div class="video-wrapper"><lite-youtube videoid="{{ id }}"></lite-youtube></div>
                    {% else %}
                    <div class="video-wrapper"><lite-youtube videoid="{{ id }}"></lite-youtube></div>
                    {% include 'components/cta-section/content.liquid' %}
                    {% endif %}
<script src="/assets/js/lite-youtube.js" type="module"></script>
                {% elsif service == 'vimeo' %}
                    {% if content.blockLayout == 'left' %}
                    {% include 'components/cta-section/content.liquid' %}
                    <div class="video-wrapper"><lite-vimeo videoid="{{ id }}"></lite-vimeo></div>
                    {% else %}
                    <div class="video-wrapper"><lite-vimeo videoid="{{ id }}"></lite-vimeo></div>
                    {% include 'components/cta-section/content.liquid' %}
                    {% endif %}
                                        <script src="/assets/js/lite-vimeo.js" type="module"></script>
                {% endif %}
            {% endif %}
        {% else %}        
            {% include 'components/cta-section/content.liquid' %}
        {% endif %}
    </div>
</section>