{% if content.textAlign == 'center' %}
    {% assign textAlign = "text-center" %}
{% else %}
    {% assign textAlign = "text-left" %}
{% endif %}

<section id="page-heading">
    <div class="wrapper flow text-page-header {{ textAlign }}">
        {% if content.showDate %}
            <p class="text--small timestamp">Last updated: <time datetime="{{ thisPage._updatedAt | w3cDate }}">{{ thisPage._updatedAt | dateFormat }}</time></p>
        {% endif %}
       {% portableText content.title %}
              {% if content.tagline %}
       <p class="text--medium {{ textAlign }}">{{ content.tagline }}</p>
       {% endif %}
       {% if content.keyVisual.size > 0 %}
         <div class="key-visual">
              {% for image in content.keyVisual %}
             {% capture imgUrl %}
                        {% sanityImageUrl image %}
                    {% endcapture %}
                    {% image imgUrl, '' %}
              {% endfor %}
              </div>
       {% endif %}
    </div>
</section>   