<div class="quote" id="{{ quoteIndex }}">
    <p>{{ quote.text }}</p>
    <small class="text--regular">
        {{ quote.attributionName }}
        <br/>
        {{ quote.attributionTitle }}
    </small>
    <img src="{{ quote.partner.image }}" alt=""/>
</div>
