---
layout: site
ctaLink:
    text: "Book a demo"
    url: "#"
---

        {% if allPosts.feature %}
            {% assign feature = allPosts.feature %}
        {% else %}
            {% assign feature = allPosts.posts | first %}
        {% endif %}
<section>
    <div class="wrapper">
            <div class="flex-row blog-feature">
                <div>
                    {% capture imgUrl %}
                        {% sanityImageUrl feature.mainImage %}
                    {% endcapture %}
                    {% image imgUrl, feature.mainImage.altText %}
                </div>
                <div class="flow content-col">
                    <p class="h4"><a href="/blog/{{feature.slug.current}}">{{ feature.title }}</a></p>
                    <p>{{ feature.description }}</p>
                    <div class="flex-row" data-justify="start"  style="--min: initial;">
                        <p class="text--small color-accent semi-bold">{{ feature.categories[0].title }}</p>
                        <p class="text--small">{{ feature.publishedAt | date: "%B %d, %Y" }}</p>
                    </div>
                </div>
            </div>
    </div>
</section>

{%- comment -%} TODO: There needs to be categories in here! {%- endcomment -%}
<div class="category-nav" role="navigation" aria-label="Post categories">
<div class="wrapper">
    <ul class="flex-row" data-justify="start">
        <li><button data-active>All posts</button></li>
        {% for category in allPosts.categories %}
            <li><button>{{ category }}</button></li>
        {% endfor %}
    </ul>
</div>
</div>

        {% if allPosts.posts %}
        <section id="posts">
    <div class="wrapper">
            <div class="flex-grid" data-align="start" style="--gap: var(--space-56);">
                {% for post in allPosts.posts %}
                    {%- capture categories -%}
                        {%- for cat in post.categories -%}
                            {{cat.title}},
                        {%- endfor -%}
                    {%- endcapture -%}
                    <div class="index-post flow" data-category="{{ categories }}">
                    {% capture imgUrl %}
                        {% sanityImageUrl post.mainImage %}
                    {% endcapture %}
                    {% image imgUrl, post.mainImage.altText %}
                <div class="flow content-col">
                    <div class="flex-row" data-justify="start"  style="--min: initial;">
                        <p class="text--small color-accent semi-bold">{{ post.categories[0].title }}</p>
                        <p class="text--small">{{ post.publishedAt | date: "%B %d, %Y" }}</p>
                    </div>
                    <p class="h5">{{ post.title }}</p>
                    <p>{{ post.description }}</p>
                    <p><a class="text-link secondary" href="/blog/{{post.slug.current}}">Read →</a></p>
                </div>  
                    </div>
                {% endfor %}
            </div>
    </div>
</section>
        {% endif %}

        <script>
            const categoryNav = document.querySelector('.category-nav');
            const categoryButtons = categoryNav.querySelectorAll('button');
            const posts = document.querySelectorAll('.index-post');
            const section = document.querySelector('#posts');

            categoryButtons.forEach(button => {
                button.addEventListener('click', () => {
                    categoryButtons.forEach(button => button.removeAttribute('data-active'));
                    button.setAttribute('data-active', '');
                    const category = button.textContent;
                    posts.forEach(post => {
                        if (category === 'All posts') {
                            post.removeAttribute('data-hidden');
                        } else if (post.dataset.category.includes(category)) {
                            post.removeAttribute('data-hidden');
                        } else {
                            post.setAttribute('data-hidden', '');
                        }
                    });

                    scrollToSection(section)
                });
            });
            
            // scroll to section
            const scrollToSection = (section) => {
                const sectionTop = section.getBoundingClientRect().top;
                const scrollTop = window.pageYOffset;
                const offset = sectionTop + scrollTop;
                window.scrollTo({
                    top: offset,
                    behavior: 'smooth'
                });
            }
        </script>


{% assign ctaTitle = "See how AI can transform your business." %}
{% include 'components/cta-section.liquid' %}