---
layout: site
ctaLink:
    text: "Book a demo"
    url: "#"
---
        {% if allPosts.feature %}
        {% assign feature = allPosts.feature %}
<section>
    <div class="wrapper">
            <div class="flex-row blog-feature">
                <div>
                    {% capture imgUrl %}
                        {% sanityImageUrl feature.mainImage %}
                    {% endcapture %}
                    {% image imgUrl, feature.mainImage.altText %}
                </div>
                <div class="flow content-col">
                    <p class="h4"><a href="/blog/{{feature.slug.current}}">{{ feature.title }}</a></p>
                    <p>{{ feature.description }}</p>
                    <div class="flex-row" data-justify="start"  style="--min: initial;">
                        <p class="text--small color-accent semi-bold">{{ feature.categories[0].title }}</p>
                        <p class="text--small">{{ feature.publishedAt | date: "%B %d, %Y" }}</p>
                    </div>
                </div>
            </div>
    </div>
</section>
        {% endif %}

{%- comment -%} TODO: There needs to be categories in here! {%- endcomment -%}

        {% if allPosts.posts %}
        <section>
    <div class="wrapper">
            <div class="flex-grid" data-align="start">
                {% for post in allPosts.posts %}
                    <div class="index-post flow">
                    {% capture imgUrl %}
                        {% sanityImageUrl post.mainImage %}
                    {% endcapture %}
                    {% image imgUrl, post.mainImage.altText %}
                <div class="flow content-col">
                    <div class="flex-row" data-justify="start"  style="--min: initial;">
                        <p class="text--small color-accent semi-bold">{{ post.categories[0].title }}</p>
                        <p class="text--small">{{ post.publishedAt | date: "%B %d, %Y" }}</p>
                    </div>
                    <p class="h5">{{ post.title }}</p>
                    <p>{{ post.description }}</p>
                    <p><a class="text-link secondary" href="/blog/{{post.slug.current}}">Read →</a></p>
                </div>  
                    </div>
                {% endfor %}
            </div>
    </div>
</section>
        {% endif %}


{% assign ctaTitle = "See how AI can transform your business." %}
{% include 'components/cta-section.liquid' %}