---
layout: site
ctaLink:
    text: "Book a demo"
    url: "#"
---

        {% if allPosts.feature %}
            {% assign feature = allPosts.feature %}
        {% else %}
            {% assign feature = allPosts.posts | first %}
        {% endif %}

<section>
    <div class="wrapper">
            <div class="flex-row blog-feature">
                <div>
                    {% if feature.mainImage.asset %}
                {% capture imgUrl %}
                    {% sanityImageUrl feature.mainImage %}
                {% endcapture %}
                {% image imgUrl, feature.mainImage.altText %}
                {% else %}
                {% capture imgUrl %}
                    {% sanityImageUrl site.blogFallbackImage %}
                {% endcapture %}
                {% image imgUrl, '' %}
            {% endif %}
                </div>
                <div class="content-col">
                        <time class="text--small" datetime="{{ feature.publishedAt }}">{{ feature.publishedAt | date: "%B %d, %Y" }}</time>
                    <h2 class="feature-title"><a href="/blog/{{feature.slug.current}}">{{ feature.title }}</a></h2>
                    <p>{{ feature.description }}</p>
                    <p><a class="text-link secondary" href="/blog/{{feature.slug.current}}">Read →</a></p>
                    <div class="tags flow">
                        {% for category in feature.categories %}
                        <button class="text--small color-accent semi-bold category" data-category-filter>{{ category.title }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
</section>

<div class="category-nav" role="navigation" aria-label="Post categories">
<div class="wrapper">
    <ul class="flex-row" data-justify="start">
        <li><button data-active class="text--regular" >All posts</button></li>
        {% for category in allPosts.categories %}
            <li><button class="text--regular">{{ category }}</button></li>
        {% endfor %}
    </ul>
</div>
</div>

        {% if allPosts.posts %}
        <section id="posts">
    <div class="wrapper">
            <ul class="flex-grid" data-align="start" style="--gap: var(--space-56);">
                {% for post in allPosts.posts %}
                    {%- capture categories -%}
                        {%- for cat in post.categories -%}
                            {{cat.title}},
                        {%- endfor -%}
                    {%- endcapture -%}
                    <li class="index-post flow" data-category="{{ categories }}">
                      {% if post.mainImage.asset %}
                {% capture imgUrl %}
                    {% sanityImageUrl post.mainImage %}
                {% endcapture %}
                {% image imgUrl, post.mainImage.altText %}
                {% else %}
           {% capture imgUrl %}
                    {% sanityImageUrl site.blogFallbackImage %}
                {% endcapture %}
                {% image imgUrl, '' %}
            {% endif %}
                <div class="content-col">
                        <time class="text--small" datetime="{{ post.publishedAt }}">{{ post.publishedAt | date: "%B %d, %Y" }}</time>
                    <h2 class="title"><a href="/blog/{{post.slug.current}}">{{ post.title }}</a></h2>
                    <p class="text--regular">{{ post.description }}</p>
                    <p><a class="text-link secondary" href="/blog/{{post.slug.current}}">Read →</a></p>
                    <div class="tags">
                        {% for category in post.categories %}
                        <button class="text--small color-accent semi-bold category" data-category-filter>{{ category.title }}</button>
                        {% endfor %}
                    </div>
                </div>  
                    </li>
                {% endfor %}
            </ul>
    </div>
</section>
        {% endif %}

        <script type="module">
            const categoryNav = document.querySelector('.category-nav');
            const categoryButtons = categoryNav.querySelectorAll('button');
            const posts = document.querySelectorAll('#posts .index-post');
            const section = document.querySelector('.category-nav');
            const categoryTags = document.querySelectorAll('[data-category-filter]');

            categoryButtons.forEach(button => {
                button.addEventListener('click', () => {
                    categoryButtons.forEach(button => button.removeAttribute('data-active'));
                    button.setAttribute('data-active', '');
                    const category = button.textContent;
                    posts.forEach(post => {
                        if (category === 'All posts') {
                            post.removeAttribute('data-hidden');
                        } else if (post.dataset.category.includes(category)) {
                            post.removeAttribute('data-hidden');
                        } else {
                            post.setAttribute('data-hidden', '');
                        }
                    });
                    // scroll to #posts section
                    section.scrollIntoView({ behavior: 'smooth' });
                });
            });

            categoryTags.forEach(tag => {
                tag.addEventListener('click', () => {
                    categoryButtons.forEach(button => button.removeAttribute('data-active'));
                    const category = tag.textContent;
                    posts.forEach(post => {
                        if (category === 'All posts') {
                            post.removeAttribute('data-hidden');
                        } else if (post.dataset.category.includes(category)) {
                            post.removeAttribute('data-hidden');
                        } else {
                            post.setAttribute('data-hidden', '');
                        }
                    });
                    // set data-active on the corresponding category button
                    categoryButtons.forEach(button => {
                        if (button.textContent === category) {
                            button.setAttribute('data-active', '');
                        }
                    });
                    // scroll to #posts section
                    section.scrollIntoView({ behavior: 'smooth' });
                });
            });
            
        </script>


{% assign ctaTitle = "See how AI can transform your business." %}
{% include 'components/cta-section.liquid' %}