---
    # This needs to change
layout: cta
pagination:
    data: ctaPages
    alias: ctaPage
    size: 1
permalink: /{{ ctaPage.slug.current | slug }}/index.html
eleventyComputed:
    pageTitle: '{{ ctaPage.title }}'
    pageDescription: '{{ ctaPage.description }}'
---

<section id="cta-page">    
    <div class="wrapper columns">
        <div class="text-content flow">
                {% portableText ctaPage.body %}
        </div>
        {{ ctaPage.mailchimpForm }}
        {%- comment -%} <div class="form">
            <form name="ctaPage.slug.current" method="POST" data-netlify="true">
                {% for field in ctaPage.form %}
                {% if field.required %}
                    {% assign required = field.required %}
                {% else %}
                    {% assign required = false %}
                {% endif %}

                    {% if field.type == 'text' or field.type == 'email' or field.type == 'url' %}
                        <label class="text--regular" for="{{ field.name.current }}">
                            {{ field.label }} {% if required %}*{% endif %}
                            <input type="{{ field.type }}" name="{{ field.name.current }}" id="{{ field.name.current }}" {% if required %}required{% endif %}>
                        </label>
                    {% endif %}

                    {% if field.type == 'phone' %}
                        <label class="text--regular" for="{{ field.name.current }}">
                            {{ field.label }} {% if required %}*{% endif %}
                            <input type="tel" name="{{ field.name.current }}" id="{{ field.name.current }}" {% if required %}required{% endif %}>
                        </label>
                    {% endif %}

                    {% if field.type == 'textarea' %}
                        <label class="text--regular" for="{{ field.name.current }}">
                            {{ field.label }} {% if required %}*{% endif %}
                            <textarea name="{{ field.name.current }}" id="{{ field.name.current }}" {% if required %}required{% endif %}></textarea>
                        </label>
                    {% endif %}

                    {% if field.type == 'dropdown' %}
                        <label class="text--regular" for="{{ field.name.current }}">
                            {{ field.label }} {% if required %}*{% endif %}
                            <div class="select">
                                <select name="{{ field.name.current }}" id="{{ field.name.current }}" {% if required %}required{% endif %}>
                                    {% for option in field.values %}
                                        <option value="{{ option | slug }}">{{ option }}</option>
                                    {% endfor %}
                                </select>
                                <span class="arr"></span>
                            </div>
                        </label>
                    {% endif %}
                {% endfor %}
                <button class="button primary" type="submit">Send</button>
            </form>
        </div> {%- endcomment -%}
    </div>
</section>