<div class=" content">
            <p class="h1">{{ ctaTitle }}</p>
            {% if ctaText %}
                <p>{{ ctaText }}</p>
            {% endif %}
            <div class="button-group">
                <a class="button primary" href="{{ ctaLink.link }}">{{ ctaLink.text }}</a>
                {% if ctaLinkSecondary %}
                <a class="button secondary" href="{{ ctaLinkSecondary.url }}">{{ ctaLinkSecondary.text }}</a>
                {% endif %}
            </div>
        </div>